@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Amatic+SC:wght@400;700&family=Bungee+Spice&family=Carter+One&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lobster&family=Mina:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nabla:EDPT,EHLT@99,4&family=Nosifer&family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&family=Racing+Sans+One&family=Rationale&family=Zen+Dots&display=swap');
.app{
  background-color: rgb(70, 32, 128);
  font-family: "Montserrat", serif;
  margin: 50px;
  padding: 30px;
  align-items: center;
}